---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MainTop from "../components/Main-Top.astro";
import Proyects from "../components/Proyects.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Alex Sanchez">
  <section class="min-h-screen">
    <Header />
    <MainTop />
  </section>
  <main class="flex flex-col">
    <Proyects />
    <Skills />
  </main>
</Layout>
