---
import Layout from "../layouts/Layout.astro";
import Header from "../contents/Header.astro";
import MainTop from "../contents/Main-Top.astro";
import Proyects from "../contents/Proyects.astro";
import Skills from "../contents/Skills.astro";
---

<Layout title="Alex Sanchez">
  <section class="min-h-screen">
    <Header />
    <MainTop />
  </section>
  <main class="flex flex-col">
    <Proyects />
    <Skills />
  </main>
</Layout>
