---
import Layout from "../layouts/Layout.astro";
import Header from "../contents/Header.astro";
import MainTop from "../contents/Main-Top.astro";
import Projects from "../contents/Projects.astro";
import Skills from "../contents/Skills.astro";

---

<Layout title="Alex Sanchez">
  <section class="min-h-screen">
    <Header />
    <MainTop />
  </section>
  <Projects />
  <Skills />
</Layout>
