---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MainTop from "../components/Main-Top.astro";
import Proyects from "../components/Proyects.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Alex Sanchez">
	<Header />
	<main class="flex flex-col">
		<MainTop />
		<Proyects />
    <Skills />
	</main>
</Layout>
