---
import ItemsHeader from "./Items-header.astro"
---
<header
	class="flex flex-row justify-center h-16 items-center sticky top-0 z-10 transition-filter duration-300 ease-in-out"
>
	<!-- Navbar -->
	<!-- items -->
	<div
		class="flex flex-row gap-4 text-sm max-w-fit bg-gray-100 bg-opacity-40 rounded-3xl py-2 px-6 fixed backdrop-blur-lg border-none"
	>
		<ItemsHeader>Proyectos</ItemsHeader>
		<ItemsHeader>Habilidades</ItemsHeader>
		<ItemsHeader>Dark Mode</ItemsHeader>
		
	</div>
</header>
