---
import CardProject from "./Card-Project.astro";
import BadgeCode from "./badges/Badge-Code.astro";
import BadgePreview from "./badges/Badge-Preview.astro";
import DjangoBadge from "./badges/Django-Badge.astro";
import JsBadge from "./badges/Js-Badge.astro";
---

<!-- Projects -->
<section class="my-10">
  <h1 class="text-3xl font-bold text-gray-900 mb-10">Proyectos</h1>
  <!-- Cards -->
  <div class="flex flex-col gap-4 place-items-center">
    <CardProject
      title="Project 1"
      body={`Aquí va la descripción del proyecto. 
        Puedes escribir en varias líneas usando el 
        operador de interpolación de cadenas (backticks) 
        en JavaScript. Esto permite una mayor legibilidad 
        y organización del texto.
        `}
      img="https://www.pap.pl/sites/default/files/styles/main_image/public/202306/pap_20221218_2FS.jpg?h=14531cb3&itok=1LEK6_AJ"
      href_code="https://github.com"
      href_preview="https://lapalabradeldia.com"
      >
      <BadgePreview slot="preview"/>
      <BadgeCode slot="code"/>
      <slot slot="technologies">
        <DjangoBadge />
        <JsBadge />
      </slot>
    </CardProject>
  </div>
</section>