---
---

<section>
  <h1 class="text-3xl font-bold text-gray-900 mb-10">Habilidades</h1>
  <div class="flex flex-row items-stretch">
    <img class="flex-1 object-contain w-8" src="images/ReadyPlayerMe-Avatar.png" alt="Avatar-stand-image">
    <div class="flex flex-1 flex-col items-start justify-center">
      <p>Lenguajes</p>
      <p>FrameWorks</p>

      <p>Herramientas</p>
      <p>Bases de Datos</p>
      <p>Actualmente Aprendiendo</p>
    </div>
  </div>
</section>
