---
// Import icons
import AboutIcon from "@components/icons/AboutMe-icon.astro";
---

<section id="aboutme" class="my-10">
  <h1 class="flex flex-row items-center gap-2 text-4xl font-bold text-gray-900 dark:text-gray-200 mb-10">
    <div class="w-12 h-12">
      <AboutIcon className="w-full h-full" />
    </div>
    Sobre Mí
  </h1>

  <p class="text-md text-gray-800 dark:text-gray-300 font-medium leading-7">
    Soy un <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">ingeniero mecánico</span> 
    con experiencia en la <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">industria automotriz</span>. 
    A lo largo de mi carrera, he utilizado <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">programación</span> 
    y <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">desarrollo web</span>—habilidades que adquirí a través del 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">autoaprendizaje</span>—para optimizar proyectos y procesos.
  </p> 
  <br class="my-4" />
  <p class="text-md text-gray-800 dark:text-gray-300 font-medium leading-7">
    Poseo la <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">mentalidad analítica</span> de un ingeniero, 
    lo que me ha permitido enfrentar problemas con un enfoque <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">técnico</span> 
    y <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">eficiente</span>. Ahora, estoy buscando hacer la transición 
    a <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">desarrollo web profesional</span>, combinando mi 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">pasión por la tecnología</span> con esta 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">perspectiva impulsada por la ingeniería</span>.
  </p>
</section>

