---
// Import icons
import AboutIcon from "@components/icons/AboutMe-icon.astro";
// Images
import ProfileAvatar2 from "@images/avatar-plano-completo.png";
import { Image } from "astro:assets";
---

<section class="my-10">
  <h1
    class="flex flex-row items-center gap-2 text-4xl font-bold text-gray-900 dark:text-gray-200 mb-10"
  >
    <div class="w-12 h-12">
      <AboutIcon className="w-full h-full" />
    </div>
    About Me
  </h1>

  <p class="text-md text-gray-800 dark:text-gray-300 font-medium leading-7">
    I am a <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">mechanical engineer</span> 
    with experience in the <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">automotive industry</span>. 
    Throughout my career, I have utilized <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">programming</span> 
    and <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">web development</span>—skills I acquired through 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">self-study</span>—to optimize projects and processes.
  </p> 
  <br class="my-4" />
  <p class="text-md text-gray-800 dark:text-gray-300 font-medium leading-7">
    I possess the <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">analytical mindset</span> of an engineer, 
    which has enabled me to tackle problems with a <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">technical</span> 
    and <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">efficient approach</span>. Now, I am looking to transition 
    into <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">professional web development</span>, combining my 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">passion for technology</span> with this 
    <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono">engineering-driven perspective</span>.
  </p>

</section>
