---
//Import Main Components
import ItemsHeader from "@components/Items-header.astro";
//Import Icons
import SunIcon from "@components/icons/Sun-icon.astro";
import SunFillIcon from "@components/icons/SunFill-icon.astro";
---

<header class="flex flex-row justify-center h-16 items-center sticky top-0 z-10 transition-filter duration-300 ease-in-out">
  <!-- items -->
  <div class="flex flex-row items-center gap-4 text-sm max-w-fit bg-gray-100 bg-opacity-40 rounded-3xl py-2 px-6 fixed backdrop-blur-lg border-none dark:bg-gray-900 dark:bg-opacity-60 dark:text-gray-200">
    <ItemsHeader>Proyectos</ItemsHeader>
    <ItemsHeader>Habilidades</ItemsHeader>
    <ItemsHeader>
      <button id="themeToggle" class="flex items-center justify-center">
        <div id="moon"><SunFillIcon /></div> <!-- moon is the sun with a fill -->
        <div id="sun" style="display: none;"><SunIcon /></div>
      </button>
    </ItemsHeader>
  </div>
</header>

<!-- Script to toggle the theme -->
<script>
  document.addEventListener('astro:page-load', () => {
    // get the theme from localStorage or the users system preference
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
      return 'light';
    })();

    // apply the initial theme
    document.documentElement.setAttribute('data-theme', theme);

    // show the correct icon based on the initial theme
    updateIcon(theme);

    // store the theme in localStorage
    window.localStorage.setItem('theme', theme);

    // handle the click event to toggle the theme
    const handleToggleClick = () => {
      const element = document.documentElement;
      const currentTheme = element.getAttribute('data-theme');
      const newTheme = currentTheme === "dark" ? "light" : "dark";

      element.setAttribute('data-theme', newTheme);
      localStorage.setItem("theme", newTheme);

      // update the icon based on the new theme
      updateIcon(newTheme);
    }

    document.getElementById("themeToggle").addEventListener("click", handleToggleClick);

    function updateIcon(theme) {
      const moonIcon = document.getElementById('moon');
      const sunIcon = document.getElementById('sun');

      if (theme === 'dark') {
        moonIcon.style.display = 'block';
        sunIcon.style.display = 'none';
      } else {
        moonIcon.style.display = 'none';
        sunIcon.style.display = 'block';
      }
    }
  });
</script>

<!-- Script to apply the correct theme after page swap -->
<script>
  document.addEventListener('astro:after-swap', () => {
    // ensure the correct theme class is added or removed after page swap
    localStorage.theme === 'dark'
    ? document.documentElement.classList.add("dark")
    : document.documentElement.classList.remove("dark");
  });
</script>
