---
// Imports Badges
import BadgesInfo from "@components/badges/Badges-Info.astro";
import BadgeWork from "@components/badges/Badge-work.astro";
// Imports Icons
import MailIcon from "@components/icons/Mail-Icon.astro";
import TelegramIcon from "@components/icons/Telegram-Icon.astro";
import GitHubIcon from "@components/icons/GitHub-Icon.astro";
import DiscordIcon from "@components/icons/Discord-Icon.astro";
//Import Images
import ProfileAvatar1 from "../images/avatar-plano-corto.png";
import { Image } from "astro:assets";
---
<section class="flex flex-col md:flex-row flex-grow gap-8">

  <!-- Col 1 -->
  <div class="flex flex-col md:basis-2/3 justify-center md:items-start items-center order-2 md:order-1">
    <!-- Badge Available for work -->
    <BadgeWork />
    <h1 class="text-gray-900 dark:text-gray-200 text-6xl font-bold mb-8 text-center md:text-start">Alex Sánchez</h1>
    <p class="text-lg text-gray-800 dark:text-gray-300 font-medium leading-7 mb-10 text-center md:text-start">
      Engineer focused on 
      <span class="text-purple-800 dark:text-yellow-500 font-bold font-mono bg-purple-100 dark:bg-yellow-50 p-1"
        >Full Stack</span
      >
      Web Development with experience in data analysis. 
    </p>
    <div class="flex flex-row gap-x-4 gap-y-3 flex-wrap">
      <BadgesInfo href="mailto:alexander_sg29@outlook.com">
        <MailIcon />
        Mándame un correo
      </BadgesInfo>
      <BadgesInfo href="https://github.com/AlexSG29">
        <GitHubIcon />
        GitHub
      </BadgesInfo>
      <BadgesInfo href="https://t.me/Alex_SG29">
        <TelegramIcon />
        Contáctame
      </BadgesInfo>
      <BadgesInfo href="#">
        <DiscordIcon />
        Discord
      </BadgesInfo>
    </div>
  </div>

  <!-- Col 2 -->
  <div class="flex flex-col md:flex-row md:basis-1/3 justify-center items-center order-1 md:order-2">
    <Image src={ProfileAvatar1} alt="Avatar-profile" width="400" class="rounded-full mb-4 md:mb-0" loading="eager"/>
  </div>

</section>
