---
import PromptIcon from "@components/icons/Prompt.astro";
// Import Projects
import FMS_Maintenance from "@components/projects/FMS_Maintenance.astro";
import BlogCodeWithMe from "@components/projects/Blog_CodeWithMe.astro";
---

<!-- Projects -->
<section id="projects" class="my-10">
  <h1 class="flex flex-row items-center gap-2 text-4xl font-bold text-gray-900 dark:text-gray-200 mb-4">
    <div class="w-12 h-12">
      <PromptIcon className="w-full h-full" />
    </div>
    Proyectos
  </h1>

  <!-- Button to view all projects -->
  <a 
    class="text-gray-100 bg-gray-800 hover:bg-gray-700 hover:cursor-pointer dark:bg-gray-200 dark:text-gray-900 dark:hover:bg-gray-300 font-medium text-sm rounded-lg px-5 py-2.5 my-5 text-center inline-flex items-center"
    href="projects-all"
  >
    Ver más proyectos
  </a>

  <!-- Grid container for projects -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Proyect 1 -->
    <FMS_Maintenance />

    <!-- Proyect 2 -->
    <BlogCodeWithMe />
  </div>
</section>
