---
// Imports Badges
import BadgeTemplate from "@components/badges/Badge-Template.astro"
// Imports Icons
import PythonIcon from "@components/icons/Python-Icon.astro"
import JsIcon from "@components/icons/Js-Icon.astro"
import HTMLIcon from "@components/icons/HTML-Icon.astro"
import CSSIcon from "@components/icons/CSS-Icon.astro"
import BootsTrapIcon from "@components/icons/BootsTrap-Icon.astro"
import ReactIcon from "@components/icons/React-Icon.astro"
import NextIcon from "@components/icons/NextJs-Icon.astro"
import DjangoIcon from "@components/icons/Django-Icon.astro"
import DockerIcon from "@components/icons/Docker-Icon.astro"
import GitIcon from "@components/icons/Git-Icon.astro"
import KotlinIcon from "@components/icons/Kotlin-Icon.astro"
import VSCodeIcon from "@components/icons/VsCode-Icon.astro"
import NodeJsIcon from "@components/icons/NodeJs-Icon.astro"
import SassIcon from "@components/icons/Sass-Icon.astro"
import TailwindIcon from "@components/icons/Tailwind-Icon.astro"
import ViteIcon from "@components/icons/Vite-Icon.astro"
import GitHubIcon from "@components/icons/GitHub-Icon.astro"
import AstroIcon from "@components/icons/Astro-Icon.astro"
import BookIcon from "@components/icons/Book-icon.astro"
---

<section id="skills" class="my-20">
  <h1 class="flex flex-row items-center gap-2 text-4xl font-bold text-gray-900 dark:text-gray-200 mb-10">
    <div class="w-12 h-12">
      <BookIcon className="w-full h-full" />
    </div>
    Habilidades
  </h1>
  <div class="flex flex-row items-stretch">

    <div class="flex flex-1 flex-col items-start justify-center font-medium text-base">
      <p class="text-gray-900 dark:text-gray-200">Lenguajes y Tecnologías</p>
      <div class="flex flex-row gap-3 flex-wrap mb-3">
        <BadgeTemplate className="bg-blue-100 text-blue-900 dark:bg-blue-600 dark:text-blue-100">
          <PythonIcon /> Python
        </BadgeTemplate>
        <BadgeTemplate className="bg-yellow-100 text-yellow-900 dark:bg-yellow-600 dark:text-yellow-100">
          <JsIcon /> JavaScript
        </BadgeTemplate>
        <BadgeTemplate className="bg-orange-100 text-orange-900 dark:bg-orange-600 dark:text-orange-100">
          <HTMLIcon /> HTML5
        </BadgeTemplate>
        <BadgeTemplate className="bg-indigo-100 text-indigo-900 dark:bg-indigo-600 dark:text-indigo-100">
          <CSSIcon /> CSS3
        </BadgeTemplate>
        
      </div>

      <p class="text-gray-900 dark:text-gray-200">FrameWorks</p>
      <div class="flex flex-row gap-3 flex-wrap mb-3">
        <BadgeTemplate className="bg-green-100 text-green-900 dark:bg-green-600 dark:text-green-100">
          <DjangoIcon /> Django
        </BadgeTemplate>
        <BadgeTemplate className="bg-cyan-100 text-cyan-900 dark:bg-cyan-600 dark:text-cyan-100">
          <TailwindIcon /> Tailwind
        </BadgeTemplate>
        <BadgeTemplate className="bg-violet-100 text-violet-900 dark:bg-violet-600 dark:text-violet-100">
          <BootsTrapIcon /> Bootstrap
        </BadgeTemplate>
        <BadgeTemplate className="bg-pink-100 text-pink-900 dark:bg-pink-600 dark:text-pink-100">
          <SassIcon /> Sass
        </BadgeTemplate>
        <BadgeTemplate className="bg-fuchsia-100 text-fuchsia-900 dark:bg-fuchsia-600 dark:text-fuchsia-100">
          <AstroIcon /> Astro
        </BadgeTemplate>
        <BadgeTemplate className="bg-purple-100 text-purple-900 dark:bg-purple-600 dark:text-purple-100">
          <ViteIcon /> Vite
        </BadgeTemplate>
        
      </div>
      
      <p class="text-gray-900 dark:text-gray-200">Herramientas</p>
      <div class="flex flex-row gap-3 flex-wrap mb-3">
        <BadgeTemplate className="bg-orange-100 text-orange-900 dark:bg-orange-600 dark:text-orange-100">
          <GitIcon /> Git
        </BadgeTemplate>
        <BadgeTemplate className="bg-gray-100 text-gray-900 dark:bg-gray-600 dark:text-gray-100">
          <GitHubIcon /> GitHub
        </BadgeTemplate>
        <BadgeTemplate className="bg-sky-100 text-sky-900 dark:bg-sky-600 dark:text-sky-100">
          <DockerIcon /> Docker
        </BadgeTemplate>
        <BadgeTemplate className="bg-lime-100 text-lime-900 dark:bg-lime-600 dark:text-lime-100">
          <NodeJsIcon /> Node.js
        </BadgeTemplate>
        <BadgeTemplate className="bg-indigo-100 text-indigo-900 dark:bg-indigo-600 dark:text-indigo-100">
          <VSCodeIcon /> VS Code
        </BadgeTemplate>
        
      </div>

      <p class="text-gray-900 dark:text-gray-200">Actualmente Aprendiendo</p>
      <div class="flex flex-row gap-3 flex-wrap mb-3">
        <BadgeTemplate className="bg-sky-100 text-sky-900 dark:bg-sky-600 dark:text-sky-100">
          <ReactIcon /> React
        </BadgeTemplate>
        <BadgeTemplate className="bg-rose-100 text-rose-900 dark:bg-rose-600 dark:text-rose-100">
          <KotlinIcon /> Kotlin
        </BadgeTemplate>
        <BadgeTemplate className="bg-stone-100 text-stone-900 dark:bg-stone-600 dark:text-stone-100">
          <NextIcon /> Next
        </BadgeTemplate>
        
      </div>
      
    </div>
  </div>
</section>
